# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Miscellaneous
.DS_Store
